
	* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 

h1{
	padding: 30px;
	text-align: center;
}

.row {
  display: flex;
  width: 100%;
}

.section {
  margin: 2em;
  border: 1px solid black;
  padding: 30px;
  background-color: #ccccff;
  border-radius: 5px;
  flex-basis: 33.33%;
 position: relative;
  text-align: justify;
}




.section h4 {
  border: 1px solid black;
  color: white;
  padding:6px;
  margin: 0px;
  position: absolute;
  top:0;
  right:0;
 
}

#boxtitle1 {
	background-color: blue;
}
#boxtitle2 {
	background-color: red;
}
#boxtitle3 {
	background-color: orange;
}


/* For screens less than or equal to 767px */
@media (max-width: 767px) {
  .row {
    flex-wrap: wrap;
    justify-content: center;
  }

  .section {
    flex-basis: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

/* For screens between 768px and 991px */
@media (min-width: 768px) and (max-width: 991px) {
  .row {
    
    flex-wrap: wrap;
   
  }

  /* Make the first 2 sections equal in size */
  .Chicken, .Beef {
   width: 50%;
   
  }


  .Sushi {
    flex-basis: 100%;
    clear: both;
  }
}

/* For screens with min width of 991px */
@media (min-width: 992px) {
  .row {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .section {
    width: 33.33%;
    float: left;
  }
}








